In [1]:
import pandas as pd

In [2]:
champ = 'Vayne'

In [3]:
df = pd.read_csv(f"data/{champ}.txt")

In [4]:
df.head()

,win,gameDuration,kills,deaths,totalDamageDealtToChampions,totalMinionsKilled,neutralMinionsKilled,gameEndedInEarlySurrender,gameEndedInSurrender,hadAfkTeammate,scoreCreeps
0,True,1961,14,4,46039,232,42,False,False,0,274
1,False,1061,0,5,3388,104,1,False,False,0,105
2,False,1462,2,7,12658,165,12,False,False,0,177
3,True,1148,1,1,6526,136,2,False,True,0,138
4,True,2332,18,6,47700,348,43,False,False,0,391